@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--Change heading and font of heading-->
    <h1 class="display-4" style="font-family:cursive;">Book Your Online Test</h1>
    <!--Add image realated to movies in the home page -->
    <img src="~/lib/Images/test2.jpg">
    <!--Add paragraph related to test information-->
    <p style="font-family:cursive; text-align:justify;">
        In attempting this examination and submitting an answer, candidates are undertaking that the work they submit is a result of their own unaided efforts and that they have not discussed the questions or possible answers with other persons during the examination period. Candidates who are found to have participated in any form of cooperation or collusion or any activity which could amount to academic misconduct in the answering of this examination will have their marks withdrawn and disciplinary action will be initiated.
    </p>
</div>
